asgiref
certifi
charset-normalizer
crispy-bootstrap4
Django
django-crispy-forms
djangorestframework
et-xmlfile
gh
gitdb
GitPython
idna
joblib
Markdown
mistletoe
mysqlclient
numpy
openpyxl
pandas
pillow
pycodestyle
pydub
python-dateutil
python-dotenv
pytz
requests
scikit-learn
scipy
setuptools
six
smmap
SpeechRecognition
sqlparse
threadpoolctl
typing_extensions
tzdata
urllib3
